$grey: #eaeaea;
$darkgrey: #777;
$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;
$green: #b1cb9e;
$navHeight: 60px;
$trans: 0.3s ease;
$chatgrey: #cccccc;
